.title{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    
}
.container1{
    display: flex;
    justify-content: center;

}
.container2{
    display: flex;
    justify-content: center;
}
.container3{
    display: flex;
    justify-content: center;
}
.maincontainer{
    margin-top: 3%;
   
}